@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Fondo blanco */
  --foreground: #171717; /* Texto negro */
  --button-background: #23ae10; /* Verde para botones */
  --button-background-hover: #060948; /* Azul más oscuro al pasar el mouse */
  --input-background: #f2f2f2; /* Fondo claro para entradas */
  --input-border: #ccc; /* Borde claro para entradas */
  --input-border-focus: #ffcc00; /* Resaltar borde en amarillo */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6; /* Mejora la legibilidad del texto */
}

button {
  background-color: var(--button-background);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s; /* Transición suave para el cambio de color */
}

button:hover {
  background-color: var(--button-background-hover);
}

input[type="text"],
input[type="number"],
textarea,
select {
  background-color: var(--input-background);
  color: var(--foreground);
  border: 1px solid var(--input-border);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  transition: border-color 0.3s; /* Transición suave para el cambio de color del borde */
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
  border-color: var(--input-border-focus);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}